PORT=3001
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=pogo1234a
MYSQL_DATABASE=lumen_market
ADMIN_EMAIL=vivekkale795@gmail.com
ADMIN_PASSWORD=pogo1234a1
JWT_SECRET=replace_with_strong_secret
STRIPE_SECRET_KEY=sk_test_yourkey
STRIPE_PUBLISHABLE_KEY=pk_test_yourkey
STRIPE_CURRENCY=usd
NODE_ENV=development

